/* *start footer styles */
.footer{
  background-color: #f0f2f7;
}

.footer-socialmedia__icon-content{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
}
.footer-logo__img{
  width: 8rem;
}

.footer-socialmadia__link{
  font-size: 3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-socialmedia__icon-content:nth-child(2)  .footer-socialmedia__icon-item:hover{
  color: #e2544f;
}


/* *finish footer styles */
